body {
    background-color: aliceblue;
}

.log {
    width: 250px;
    border-radius: 30px;
    position: absolute;
    left: 15px;
}

.home {
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 125px;
    left: 300px;
}

.home:hover {
    color: white;
    transition: 0.6s;
}

.producto {
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 125px;
    left: 450px;
}

.producto:hover {
    color: white;
    transition: 0.6s;
}

.contato {
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    position: absolute;
    top: 125px;
    left: 675px;
}

.contato:hover {
    color: white;
    transition: 0.6s
}

.hd {
    background-color: #b3b3b3;
    width: 1511px;
    height: 265px;
    position: absolute;
    left: 0px;
    top: -5px;
    z-index: -1;
    border-radius: 0px 0px 30px 30px;
    border: 5px solid gray;
}

.hd:hover {
    border-color: black;
    transition: 1.0s;
}

.produtos {
    color: white;
}

.cb {
    border: 5px solid gray;
    border-radius: 30px;
    position: absolute;
    top: 350px;
    left: 225px;
}

.bb {
    border: 5px solid gray;
    border-radius: 30px;
    position: absolute;
    top: 350px;
    left: 625px;
}

.clb {
    border: 5px solid gray;
    border-radius: 30px;
    position: absolute;
    top: 350px;
    left: 1025px;
}

.ttcb {
    font-size: 40px;
    position: absolute;
    top: 650px;
    color: black;
    left: 230px;
    font-family: Impact;
}

.preco-cb {
    position: absolute;
    top: 750px;
    left: 285px;
    color: black;
    font-family: Impact;
    font-size: 40px;
}

.box1 {
    width: 300px;
    height: 500px;
    background-color: #b3b3b3;
    border-radius: 30px;
    border: 5px solid gray;
    position: absolute;
    top: 325px;
    left: 200px;
    z-index: -1;
}

.box1:hover {
    border-color: black;
    transition: 1s;
}

.box2:hover {
    border-color: black;
    transition: 1s;
}

.box3:hover {
    border-color: black;
    transition: 1s;
}

.box4:hover {
    border-color: black;
    transition: 1s;
}

.box2 {
    width: 300px;
    height: 500px;
    background-color: #b3b3b3;
    border-radius: 30px;
    border: 5px solid gray;
    position: absolute;
    top: 325px;
    left: 600px;
    z-index: -1;
}

.box3 {
    width: 300px;
    height: 500px;
    background-color: #b3b3b3;
    border-radius: 30px;
    border: 5px solid gray;
    position: absolute;
    top: 325px;
    left: 1000px;
    z-index: -1;
}

.ttbb {
    font-size: 40px;
    position: absolute;
    top: 650px;
    color: black;
    left: 700px;
    font-family: Impact;
}

.preco-bb {
    position: absolute;
    top: 750px;
    left: 680px;
    color: black;
    font-family: Impact;
    font-size: 40px;
}

.ttclb {
    font-size: 40px;
    position: absolute;
    top: 650px;
    color: black;
    left: 1040px;
    font-family: Impact;
}

.preco-clb {
    position: absolute;
    top: 750px;
    left: 1085px;
    color: black;
    font-family: Impact;
    font-size: 40px;
}

.box4 {
    width: 1100px;
    height: 500px;
    background-color: #b3b3b3;
    border-radius: 30px;
    border: 5px solid gray;
    position: absolute;
    top: 925px;
    left: 200px;
    z-index: -1;
}

.ttpl {
    font-size: 50px;
    position: absolute;
    top: 1050px;
    color: black;
    left: 850px;
    font-family: Impact;
}

.ftpl {
    position: absolute;
    top: 975px;
    left: 300px;
    width: 400px;
    border-radius: 30px;
    border: 5px solid gray;
}

h4 {
    position: absolute;
    top: 1650px;
    color: aliceblue;
}

.preco-pl {
    position: absolute;
    top: 1300px;
    left: 900px;
    color: black;
    font-family: Impact;
    font-size: 50px;
}

.dspl {
    position: absolute;
    top: 1150px;
    left: 810px;
    color: black;
    font-family: Impact;
    font-size: 50px;
}

.dspl1 {
    position: absolute;
    top: 1200px;
    left: 915px;
    color: black;
    font-family: Impact;
    font-size: 50px;
}

.bhrl {
    width: 1115px;
    height: 90px;
    border-radius: 30px;
    border: 5px solid gray;
    background-color: #b3b3b3;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 1500px;
    left: 200px;
}

.bhr {
    text-decoration: none;
    color: black;
}

.bhrl:hover {
    border-color: black;
    transition: 1s;
}

.footer {
    background-color: #b3b3b3;
    position: absolute;
    top: 1700px;
    left: 0px;
    width: 1521px;
    height: 300px;
    z-index: -1;
}

.copy {
    position: absolute;
    top: 1910px;
    font-size: 20px;
    left: 40%; 
}

.lgft {
    width: 250px;
    position: absolute;
    top: 1680px;
    left: 39%;
}